article h1 {
  font-family: Geneva, "trebuchet MS",Georgia,Arial,"Arial Black","Times New Roman",Times,serif;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px gray;
font-size:2.0em;
  color: gray;
  text-align: center;
  font-style: oblique;
}

article p
{
margin-right: 0px;
  margin-left: 10px;
  font-size: 0.9em;
  text-align: justify;
  color: black;
  font-family: Geneva, "trebuchet MS","Times New Roman",Arial,"Arial Black",Times,serif;
}
article a
{
text-decoration:none;
}
article a:visited
{
color: rgb(66,66,255);
}
article .petit
{
margin-right: 0px;
font-size:0.8em;

width: 814px;
text-align: justify;
color: black;
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
}
article #recherche /*Pour indiquer au visiteur le raccourci pour la fonction recher du navigateur */
{
color: black;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-size: 0.7em;
text-decoration:underline;
}
article #sondage
{
width:550px;
margin: auto;
}
article p strong, td strong
{

}
article .lienlibre
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size: 0.8em;
color: rgb(66,66,255);
}
article .groslienlibre
{
text-align:center;
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
color: rgb(66,66,255);
font-size:1.2em;
}
article .lienlibrecommeli
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
color: rgb(66,66,255);
font-size:0.9em;
}
article .lienlibrecommeli:hover
{
border: none;
  background-color: #e6ffe6; 
  color:#000352;
}
article .groslienlibre:hover /* gros lien sur agregation-capes ... */
{
 border: none;
  background-color: #e6ffe6; 
  color:#000352;
 }
 article .paragraphecentre
 {
 text-align:center;
 }
article .lienlibre:hover
{
 border: none;
  background-color: #e6ffe6; 
  color:#000352;
 }
article .lienlibre span /*pour retourner \E0 la ligne apr\E8s des titres longs*/
{
margin-left: 5%;
}
article ol
{
   margin-left: 40px;
   list-style-type: upper-roman;
}

article li
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size:0.9em;
color: rgb(0,128,64);
text-decoration: none;
margin-right:10px;
}
article #alphabet 
{
margin-left: 40px;
}

article ol a:hover /* Quand on pointe sur un lien */
{
   background-color: #d9ecff;
color: #003f0b;
}
article h2
{
color: rgb(0,147,0);
font-size: 1.1em;
text-align: center;
text-transform: uppercase;
margin-bottom: 0px;
font-family: Geneva, "trebuchet MS",Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article h3 a
{
text-decoration: none;
}

article h3 /* Pour les ancres de retour en haut de la page */
{
margin-top: 0px;
text-align: center;
color: rgb(0,128,64);
font-size: 1em;
font-family: Geneva, "trebuchet MS",Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article h3 a:hover, article ul a:hover
{
  border: none;
  background-color: #e6ffe6; 
  color:#000352;
}
article h6  /* Titre "m\EAme page avec fichier word */
{
  text-decoration:underline;
  font-family: Geneva, "trebuchet MS","Times New Roman",Arial,"Arial Black",Times,serif;
  margin-top: 10px;
  text-align:left;
  margin-bottom: 0px;
  color: #008040;
  font-size: 0.9em;
}
article #boite
{
border: 1px solid green;
}
article h4
{
color: rgb(0,147,0);
font-size: 1.0em;
text-align: center;
margin-top: 10px;
margin-bottom: 0px;
text-transform: uppercase;
font-family: Geneva, Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article .soustitre
{
color: rgb(0,147,0);
font-size: 1.1em;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
text-transform: uppercase;
font-family: Geneva, "trebuchet MS",Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article h5 a /* lien nouveau/ancien programme */
{
text-decoration: none;
}
article h5 /* lien nouveau/ancien programme */
{
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
color: rgb(66,66,255);
font-size: 1em;
font-family: Geneva, "trebuchet MS",Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article h5 a:hover
{
 border: none;
  background-color: #e6ffe6; 
  color:#000352;
}

article td,th /* Toutes les cellules des tableaux... */
{
   width: 420px; 
   height: 20px;
   border: 2px ridge black; /* ... auront une bordure rentr\E9e int\E9rieure de 2px et blanche */
   text-align: center;
}
article td
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size: 0.7em;
color: black;
}
article th
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-weight: bold;
color: black;
font-size:0.9em;
text-transform: uppercase;
border: 2px black ridge;
}
article td a
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size: 1em;
color: rgb(66,66,255);
text-align: center;
}
article td a:hover
{
    border: none;
  background-color: #e6ffe6; 
  color:#000352;
}

article .vrac
{
margin-top:10px;
font-size:0.8em;
width:820px;
text-align: justify;
color: black;
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
}

article .vrac a
{
text-align:center;
}
article #retour			
{
text-align:right;
}	
article #retour a	
{
text-decoration: none;
}
article #retour a:hover {	
  background-color: #7ed2ff;
  color: black;
}
article #retour a img	
{
width:83;
height:87;
border:none;
}

article #xiti
{
text-align: left;
margin-left:23px;
}
article .livre
{
width:70px;
}
article .underline /* cours bac mp3 ... */
{
text-decoration:underline;
}
article .reduppercase /* cours bac mp3 ... */
{
color:red;
text-decoration:uppercase;
}
article .blockcentre
 {
 margin:auto;
 text-align:center;
 }
 article .text-align-center
 {
  text-align:center;
 }
/* pour code schéma tikz*/

article .textcode
{
font-size:1.1em;
text-align:left;
}
article .boutoncode
{
text-align:center;
color:gray;
font-weight:bold;
}
article .code
{
position:relative;
left:0px;
top:0px;
width:500px;
background-color: rgb(220,220,220);
padding:5px;
}
article .code2
{
position:relative;
left:0px;
top:0px;
width:800px;
background-color: rgb(220,220,220);
padding:5px;
}
article .commentaire
{
color:blue;
}
article .preambule
{
color:red;
}
article table { border-collapse: separate; border-spacing: 10px 8px; margin-bottom:30px;}/* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
article table td { border:1px ridge gray ; margin:5px; padding:2px; }
article table td img { border:0; width:150px; }
article .tikz td img { border:0; width:75%; }

.titrefigure
{
text-align:center;
font-weight:bold;
text-shadow: 1px 1px 1px gray;
color:gray;
font-size:1.2em;
}