
body
{
    font-family: 'Helvetica Nue',Geneva, Verdana, 'Trebuchet MS', Arial, sans-serif;
    /*margin-top: 0px;*/
	margin:0px;
}
article h1
{
 text-shadow: 1px 1px 1px gray;
font-size:2.0em;
}
#retourenhaut /*flËche de retour en haut placÈe ‡ gauche du design */
{
position:absolue;
position:fixed;
top:300px;
right:10px;
opacity:0.3;
}
#retourenhaut:hover
{
opacity:1;
					/*transition ‡ la fermeture*/
			
			-webkit-transition-property: opacity; 
			-webkit-transition-duration: 1s;
			-webkit-transition-timing-function: ease;

			/* When being supported by FF */

			-moz-transition-property: opacity;
			-moz-transition-duration: 1s;
			-moz-transition-timing-function: ease;

			/* Ö and if it's standardised one day (#optimism) */

			transition-property: opacity;
			transition-duration: 1s;
			transition-timing-function: ease;
}
/*body a:visited couleur de tous les liens dÈj‡ visitÈs 
{
color:blue;
}
body .block a:focus
{
background-color:blue;
color:white;
}*/
#bloc_page 
{
margin-left:0px;
  margin: auto;
  width: 1024px;
  margin-bottom:20px;
 }
 
header
{
background: -webkit-linear-gradient(#E2E2E2,#B7B7B7); /*essaie de gris*/
background: linear-gradient(#E2E2E2,#B7B7B7);
background: -moz-linear-gradient(#E2E2E2,#B7B7B7);
/*background: -moz-linear-gradient(#8CE0FF,#8CB4FF);*/
/*background: -webkit-linear-gradient(#8CE0FF,#8CB4FF);*/
/*background: linear-gradient(#8CE0FF,#8CB4FF);*/
width: 1015px;
position:relative;
height:140px;
z-index: 1;
box-shadow: 6px 6px 6px gray;
-moz-box-shadow: 6px 6px 6px gray;
-webkit-box-shadow: 6px 6px 6px gray;
}    

  /* bandeau au dessus du header */
#headerhaut  
{
border-bottom:1px inset gray;
height:20px;
position:relatif;
padding-top:0px;
padding-bottom:7px;
}
#headerhaut  #nombre
{
position:absolute;
left:5px; /*95*/
margin-left:4px;
margin-top:0px;
color:gray;
width:130px;
font-size:0.6em;
}
#headerhaut .fb-like
{
position:absolute;
left:95px;
margin-top:3px;
text-align:center;
}
#headerhaut #fb
{
	position:absolute;
	left:200px;
	top:5px;
/*	margin-left:200px;display:inline-block;vertical-align:middle;padding:2px;margin-top:2.5px;	*/
}

#headerhaut #gplus
{
	position:absolute;
	left:230px;
	top:5px;
}

#headerhaut #youtube
{
	position:absolute;
	left:260px;
	top:5px;
}
#headerhaut #patreon
{
	position:absolute;
	left:315px;
	top:5px;
}
#headerhaut #search
{
margin-left:600px;display:inline-block;vertical-align:top;	
margin-top:2.5px;
}
#headergauche 
{
display: inline-block;
vertical-align:top;
width:110px;
height:120px;
}

#headergauche  #logo   /* block contenant le logo */
{
background: url('logo1012seul.png') no-repeat scroll center; /*logoc.png*/
width:90px; 
height:91px;
border:none;
/*padding:7px;*/
margin-left:20px;
margin-bottom:2px;
margin-top:5px;
z-index: 2;
-moz-transition:background-image 1s;
-webkit-transition:background-image 1s;
transition:background-image 1s;
}
 #headergauche  #logo:hover   /*block contenant le logo */
{
-moz-transition:background-image 1s;
-webkit-transition:background-image 1s;
transition:background-image 1s;
background: url('logo1012seulbleu.png') no-repeat scroll center;
}
/*
#headergauche p
{
margin-top:0px;
margin-left:20px;
height:10px;
text-align:center;
font-size:0.5em;
}
#headergauche p a
{
color:gray;
font-weight:bold;
text-decoration:none;
}
#headergauche p a:hover
{
color:white;
}*/
#headercentre    /* block ‡ cÙtÈ du logo */
{
display: inline-block;
vertical-align: top;
margin-left:auto;
margin-right:auto;
width:670px;
height:120px;
}
#headercentre h1    /* titre du site */
{
margin-top:2px;
margin-bottom:0px;
 font-weight: bold;
 font-size:1.5em;
color: #00A157;
text-transform: uppercase;
text-shadow: 3px 3px 4px white;
text-align:center;
}
#headercentre nav #navhaut   /*premiere série de titre de menu */
{
display: inline-block;
vertical-align: top;
margin:0px;
padding:0px;
margin-top:0px;
margin-left:0;
margin-right:0;
width:490px;
/*border:1px solid black;*/
}
#headercentre nav #navhautdroite      /*titre menu loisirs*/
{
display: inline-block;
vertical-align: top;
margin:0px;
padding:0px;
margin-top:0px;
margin-left:0;
margin-right:0;
width:140px;
/*border:1px solid black;*/
}
#headercentre nav #navbas             /*deuxième série de titre de menu */
{
margin:0px;
padding:0px;
margin-top:0px;
margin-left:auto;
margin-right:auto;
width:670px;
/*border:1px solid black;*/
}
#headercentre nav #navhaut .niveau1 a, #headercentre nav #navbas .niveau1 a, #headercentre nav #navhautdroite .niveau1 a /*apparence titre du menu*/
{
text-decoration:none;
font-weight:bold;
}
#headercentre nav #navhaut .niveau1 a        /*transition pour les titres de menu seul : accueil, ressources, livreor, contact */
{
-moz-transition:background-color 1s;
-webkit-transition:background-color 1s;
transition:background-color 1s;
-moz-transition:color 1s;
-webkit-transition:color 1s;
transition:color 1s;
}
#headercentre nav #navhaut .niveau1 a:visited       /*pour que les liens du menu ne changent pas de couleurs une fois cliqué */
{
color: blue;
}
#headercentre nav #navhaut .niveau1 a:hover/* apparecne au passage de la souris pour les titres de menu seul : accueil, ressources, livreor, contact */
{
		background-color: blue;
		color:white;
		
}
#headercentre nav #navhaut .niveau1        /* apparence des boîtes du menu avec liens seuls :  accueil, ressources, livreor, contact */
{
display:inline-block;
	vertical-align:top;
	margin-left:20px;
	padding:2px;
	margin-bottom:5px;
	margin-top:5px; 
	width: 90px; /*seule la taille change avec la partie du dessous */ 
	border-radius:  10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
	list-style-type: none;
	position: relative;
	text-align:center;
	font-weight:bold;
	-moz-transition:background-color 1s;
-webkit-transition:background-color 1s;
transition:background-color 1s;
	color: blue;
	background-color:rgba(255,255,255,0.7);	
	font-size:0.7em;
}

#headercentre nav #navhautdroite .niveau1    /* apparence de la boîte contenant le titre du menu loisirs */
{
display:inline-block;
	vertical-align:top;
	margin-left:5px;
	padding:2px;
	margin-bottom:5px;
	margin-top:5px; 
	width: 142px;
	border-radius:  10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
	list-style-type: none;
	position: relative;
	text-align:center;
	font-weight:bold;
	color: blue;
	background-color:rgba(255,255,255,0.7);	
	-moz-transition:background-color 1s;
-webkit-transition:background-color 1s;
transition:background-color 1s;
	font-size:0.7em;
}

#headercentre nav #navbas .niveau1 { /* Style des boites contenant les titres des menus agreg, licence, collège, outils */
	display:inline-block;
	vertical-align:top;
	margin-left:14px;
	padding:2px;
	margin-bottom:5px;
	padding-bottom:3px;
	margin-top:5px; 
	width: 142px;
	border-radius:  10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
	list-style-type: none;
	position: relative;
	text-align:center;
	font-weight:bold;
	color: blue;
	background-color:rgba(255,255,255,0.7);	
	-moz-transition:background-color 1s;
-webkit-transition:background-color 1s;
transition:background-color 1s;
	font-size:0.7em;
	z-index:2;
}


#headercentre nav #navbas .niveau1:hover, #headercentre nav #navhautdroite .niveau1:hover { /* Titre des menus loisirs, agreg, licence ... au survol */
		border-radius:  10px 10px 0px 0px;
		-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
		background-color: white;
	color:blue;
}
#headercentre nav #navbas .niveau1 a.sfhover, #headercentre nav #navhautdroite .niveau1 a.sfhover { /* Titre du menu au survol */
		border-radius:  10px 10px 0px 0px;
		-moz-border-radius: 10px 10px 0px 0px;
		-webkit-border-radius: 10px 10px 0px 0px;
		background-color: white;
	color:blue;
}
#headercentre nav #navbas .niveau2 a, #headercentre nav #navhautdroite .niveau2 a
{
font-weight:normal;
-moz-transition:background-color 0.5s;
-webkit-transition:background-color 0.5s;
transition:background-color 0.5s;
}

#headercentre nav #navbas .niveau2 a:hover, #headercentre nav #navhautdroite .niveau2 a:hover { /* pade de bordures arrondies pour les liens au survol */
		background-color: white;
		color:blue;
}
#headercentre nav #navbas .niveau2 a.sfhover, #headercentre nav #navhautdroite .niveau2 a.sfhover { /* pade de bordures arrondies pour les liens au survol */
		background-color: white;
	color:blue;
}
#headercentre nav #navbas ul ul, #headercentre nav #navhautdroite ul ul{ /*boÓte des liens du menu*/
	padding: 0px;
	padding-top:10px;	
	padding-bottom:5px;
	margin-top: 0px; 
	display:none; 
	position: absolute;
	left: 0px;
	top: 15px;
	opacity:0.95;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
z-index:1;
}                     
                                   
/*Boite menu niveau 3*/
#headercentre nav #navbas .niveau3 
{                  
	list-style-type:none;
	padding: 0px;
	padding-top:5px;	
	padding-bottom:5px;
	margin-top: 0px;    
	width:200px;  
	display:none; 
	position: absolute;
	left: 146px;  
	top: -5px;
	opacity:1; 
	border-left:1px solid gray;
	border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;    
background: -moz-linear-gradient(#FFE19E,#FFC942);
background: -webkit-linear-gradient(#FFE19E,#FFC942);
background: linear-gradient(#FFE19E,#FFC942);
z-index:1;
}         
#headercentre nav #navbas .niveau2 li .niveau3 li  /*les li du niveau 3*/
{
/*	list-style-type:none;*/
	font-size:0.9em;
	margin-left:15px;     
	width:170px;  	   /*doivent hérité d'une propriété*/
}
#headercentre nav #navbas .niveau3 li:first-child > a:after  /*flèche*/
{
    content: '';
    position: absolute;
    left: -25px; /* Position de la flèche*/
    top: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 9px solid gray;
}  
#headercentre nav #navbas .niveau1 > li:first-child > a:after, #headercentre nav #navhautdroite .niveau1 > li:first-child > a:after  
/*flèches*/
{
    content: '';
    position: absolute;
    left: 130px; /* Position de la flèche*/
    top: 7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid gray;
}
#headercentre nav #navhautdroite ul ul
{
z-index:3;
}   

/*Apparition du bloc niveau2 au survol du li du niveau 1*/
#headercentre nav #navbas li:hover ul.niveau2, #headercentre nav #navhautdroite li:hover ul.niveau2 {     
	display: block;
	}  
	
#agregation
{
color: #FF59A3;
-moz-transition:color 2s;
-webkit-transition: color 2s;
transition:color 2s;
}
#agregation:hover
{
color:blue;
}
#licence
{
color: #FFB200;
-moz-transition:color 2s;
-webkit-transition: color 2s;
transition:color 2s;
}
#licence:hover
{
color:blue;
}
#loisirs
{
color: #327DFF;
-moz-transition:color 2s;
-webkit-transition: color 2s;
transition:color 2s;
}
#loisirs:hover
{
color:blue;
}
#collegelycee
{
color: #3FBA2C;
-moz-transition:color 2s;
-webkit-transition: color 2s;
transition:color 2s;
}
#collegelycee:hover
{
color:blue;
}
#diverscours
{
color: #C260FF;
-moz-transition:color 2s;
-webkit-transition: color 2s;
transition:color 2s;
}
#diverscours:hover
{
color: blue;
}
#headercentre nav #navbas .agregation {
background: -moz-linear-gradient(#FFC1DD,#FF84BB);
background: -webkit-linear-gradient(#FFC1DD,#FF84BB);
background: linear-gradient(#FFC1DD,#FF84BB);
}
#headercentre nav #navbas .licence {
background: -moz-linear-gradient(#FFE19E,#FFC942);
background: -webkit-linear-gradient(#FFE19E,#FFC942);
background: linear-gradient(#FFE19E,#FFC942);
}
#headercentre nav #navhautdroite .loisirs {
background: -moz-linear-gradient(#E5EEFF,#7CA8FF);
background: -webkit-linear-gradient(#E5EEFF,#7CA8FF);
background: linear-gradient(#E5EEFF,#7CA8FF);
opacity:1;
}
#headercentre nav #navbas .collegelycee {
background: -moz-linear-gradient(#DDFFA3,#55BC47);
background: -webkit-linear-gradient(#DDFFA3,#55BC47);
background: linear-gradient(#DDFFA3,#55BC47);
}
#headercentre nav #navbas .diverscours {
background: -moz-linear-gradient(#F4E0FF,#D48CFF);
background: -webkit-linear-gradient(#F4E0FF,#D48CFF);
background: linear-gradient(#F4E0FF,#D48CFF);
}
 /*boÓte des liens du menu*/
	
#headercentre nav #navbas .niveau2 .none /*sous titre menu dÈroulant */
{
color:blue;
font-size:0.9em;
font-weight:bold;
margin-left:4px;
margin-top:5px;
margin-bottom:3px;
text-align:left;
list-style-image:url('/images/none.png');
}
#headercentre nav #navbas .niveau2 .prem /*sous titre menu dÈroulant */
{
color:blue;
font-size:0.9em;
font-weight:bold;
margin-left:4px;
margin-top:0px;
margin-bottom:3px;
text-align:left;
list-style-image:url('/images/none.png');
}
#headercentre nav #navbas .niveau2 .decale /*sousoustitre menu deroulant (agreg)*/
{
margin:0;
font-size:0.8em;
margin-left:15px;
margin-top:5px;
padding:0;
text-align:center;
font-size:0.9em;
font-variant: small-caps;
}

 /* Style des textes des liens niveau 2 du menu */
#headercentre nav #navbas .niveau2 li, #headercentre nav #navhautdroite .niveau2 li  { 
	padding-right: 2px; 
	padding-left: 2px; 
	padding-bottom: 2px; 
	margin-left:25px;
	 width: 117px;
	padding-top: 2px;  
	font-weight:normal;
	position: relative; 
	text-decoration:none;
	background-color: none;
	color: blue; /*rgb(0,128,64);*/
	text-align:left;
	font-size:0.9em;
}            

/*que les li descendant directement de la class licence*/                 
#headercentre nav #navbas .licence li
{
list-style-type:none;
border-bottom:1px ridge gray;
text-align:center;
margin:0px;	  
padding:0px;  
padding-top:7.5px;
padding-bottom:7.5px;
width: 136px;
	}   

/* Taille des li du niveau 3 */ 
#headercentre nav #navbas .niveau2 .niveau3 li  
{
/*	 width: 150px;	      */
	list-style-type:;
	border:0;	
	text-align:left;
	margin:0px;	  
	padding:0px;  
}	    
#headercentre nav #navbas .niveau2 li a, #headercentre nav #navhautdroite .niveau2 li a
{
color:blue;
}
/*Apparition du bloc niveau3 au sorvol du li du niveau 2*/
#headercentre nav #navbas .niveau2 li:hover ul.niveau3 { 
	display: block;
	}                          
   
#headercentre #basbas, #headercentre #basbas a
{
margin-top:2px;
margin-left:20px;
color:gray;
font-size:0.6em;
}
#headercentre #basbas a{
text-decoration:none;
margin:0;
padding:0;
font-size:1.0em;
}
#headercentre #basbas a:hover
{
color:white;
}
#headerdroit
{
display: inline-block;
border-left:1px ridge gray;
margin-bottom:0px;
margin-left:auto;
margin-right:auto;
position:relative;
margin-top:0px;
height:112px;
width:220px;
}     
#cse-search-box
{
padding-bottom:3px;
padding-left:5px;
position:absolute;
right:0px;
}
#cse-search-box p
{
margin:0;
padding:0;
}
#cse-search-box #inputsubmit
{
font-size:0.6em;
color:gray;
font-weight:bold;
}
#headerdroit  #connexion
{
position:absolute;
left:40px;
top:5px;
padding-bottom:3px;
padding-left:3px;
}
#headerdroit  #connexion p
{
margin:0;
padding:0;
}
#headerdroit #connexion label
{
display:block;
width:50px;
padding-top:5px;
float:left;
color:gray;
font-size:0.6em;
font-weight:bold;
}
#headerdroit #connexion .bouton
{
font-size:0.6em;
display:block;
width:100px;
margin-left:auto;
text-align:center;
margin-right:auto;
color:gray;
font-weight:bold;
margin-top:2px;
}
#headerdroit #oublimdp
{
position:absolute;
left:30px;
top:80px;
margin-top:0px;
}
#headerdroit #inscription
{
position:absolute;
left:140px;
top:80px;
margin-top:0px;
padding-right:5px;
}
#headerdroit #oublimdp a, #headerdroit #inscription a, #headerdroit ul a
{
text-decoration:none;
color:gray;
width:50px;
font-weight:bold;
font-size:0.6em;
}
#headerdroit #oublimdp a:hover, #headerdroit #inscription a:hover, #headerdroit ul a:hover
{
color:white;
}
#headerdroit .bonjour
{
text-align:center;
margin-top:10px;
color:gray;
font-size:0.8em;
text-decoration:underline;
}
#headerdroit ul
{
position:absolute;
top:15px;
left :15px;
}
.puce/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce.png);   
}
.puce2/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce2.png);
}
.puce3/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce3.png);
}
.puce4/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce4.png);
}
.puce5/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce5.png);
}
.puce6/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce6.png);
}
.puce7/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce7.png);
}
.puce8/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce8.png);
}
.puce9/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce9.png);
}
.puce10/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce10.png);
}
.puce11/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce11.png);
}
.puce12/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce12.png);
}
.puce13/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce13.png);
}
.puce14/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce14.png);
}
.puce15/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce15.png);
}
.puce16/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce16.png);
}
.puce17/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce17.png);
}
.puce18/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce18.png);
}
.puce19/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce19.png);
}
.puce20/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce20.png);
}
.puce21/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce21.png);
}
.puce22/*puces persos pour toutes listes */
{
list-style-image:url(/images/puce22.png);
}                                          
.pasdepuce
{
list-style-type:none;	
}
#headercentre nav #navbas .niveau2 a { /* Style des liens du menu */
		text-decoration:none;
		color:white;
}
#headercentre nav #navbas li:hover ul.niveau2 {   /* apparition des liens au survol */
	display: block;
}
#headercentre nav #navbas li.sfhover ul.niveau2 { /* apparition des liens au survol */
	display: block;
}

footer h1
{
    font-family: Geneva, Verdana, 'Trebuchet MS', serif;
    font-weight: normal;
    text-transform: normal;
	text-shadow: 2px 2px 4px gray;
}

article, #navdroit /* pour situer le reste en dessous du header fixe*/
{
    display: inline-block;
	position:relative;
	top: 20px;
	    vertical-align: top;
    text-align: justify;
	
}
/* section nav  menu ‡ gauche 
{
width:165px;
padding: 10px 5px 5px 0px;
}*/
#navdroit   /*encarts partie droite de la page */
{
    padding: 0px 5px 5px 0px;
    width: 174px;
	margin:0;
}
#navdroit .block /* chaque block du menu ‡ gauche */
{
border-color:gray;
border-style:solid;
border-width:1px;
margin-top:15px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 6px 6px 6px gray;
-moz-box-shadow: 6px 6px 6px gray;
-webkit-box-shadow: 6px 6px 6px gray;
}
#navdroit .overflow  /* 1er block du menu ‡ gauche */
{
overflow:auto;
height:150px;
}
#navdroit .block1  /* 1er block du menu ‡ gauche */
{
margin-top:0px;
/*border: 1px solid blue;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 6px 6px 6px gray;
-moz-box-shadow: 6px 6px 6px gray;
-webkit-box-shadow: 6px 6px 6px gray;*/
}
/*#navdroit .block form
{
margin-top:10px;
}*/
#navdroit .block h3 /*titre block du menu ‡ gauche */
{
font-family: Geneva, Verdana, 'Trebuchet MS', Arial, sans-serif;
font-size:0.8em;
text-align:center;
margin-top:0px;
margin-bottom:0px;
background-color:#B7B7B7;  /*essaie de gris*/
color:white;
border-bottom: 1px ridge gray;
border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
}
#navdroit .block h4
{
font-size:0.7em;
color:blue;
font-weight:bold;
margin-left:2px;
margin-top:5px;
margin-bottom:0px;
}
#navdroit .block ul
{
text-align:justify;
padding-top:2px;
padding-bottom:2px;
padding-left:0px;
padding-right:0px;
margin-top:0px;
margin-left:5px;
margin-right:5px;
margin-bottom:2px;
list-style-position:inside;
}
#navdroit  .block li
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
list-style-position:inside;
/*border:1px solid black;*/
font-size:0.9em;
text-align:left;
}

#navdroit .block .cherchecours
{
font-size:0.8em;
font-weight:bold;
color:blue;
}
#navdroit .block a
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
-moz-transition:color 0.5s;
-webkit-transition:color 0.5s;
transition:color 0.5s;
-moz-transition:background-color 0.5s;
-webkit-transition:background-color 0.5s;
transition:background-color 0.5s;
color:blue;
padding-left:0px;
text-decoration:none;
font-size:0.8em;
}
#navdroit .block a:hover
{
color:white;
background-color:gray;
}
#navdroit .block .blockcentre
{
text-align:center;
}
article    /*contenu central de la page */
{
margin-top:0px;
padding-top:0px;   
   width: 814px;
    margin-right: 6px;
	margin-left: 6px;
	padding:4px;
	border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
footer
{
font-family: Geneva, Verdana, 'Trebuchet MS', Arial, sans-serif;
background: -webkit-linear-gradient(#E2E2E2,#B7B7B7); /*essaie de gris*/
background: linear-gradient(#E2E2E2,#B7B7B7);
background: -moz-linear-gradient(#E2E2E2,#B7B7B7);
/*background: -moz-linear-gradient(#8CE0FF,#8CB4FF);*/
/*background: -webkit-linear-gradient(#8CE0FF,#8CB4FF);*/
/*box-shadow: 6px 6px 6px gray;*/
position:relative;
top:175px;
width: 1015px;
height:100px;
margin-bottom:20px;
text-align:justify;
box-shadow: 6px 6px 6px gray;
-moz-box-shadow: 6px 6px 6px gray;
-webkit-box-shadow: 6px 6px 6px gray;
}
footer #lien
{
text-align:center;
margin-top:5px;
margin-bottom:0px;
padding:0px;
border-bottom:1px solid gray;
}
footer #lien a
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
margin-bottom:0px;
margin-left:30px;
padding:0px;
text-decoration:none;
color:blue;
}
footer a
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;

text-decoration:none;
}
#footergauche #lien a:hover, #footergauche a:hover
{
background-color:white;
}
footer a:visited
{
color:blue;
}
footer #footergauche /*liste à droite du footer */
{
display:inline-block;
vertical-align:top;
margin-top:5px;
margin-bottom:0px;
border-right:1px solid gray;
padding-right:10px;
}
footer #footergauche ul{
margin:0;
font-size:0.9em;
margin-right:10px;
margin-left:30px;
padding:0;
}
footer #footergauche #misajour
{
padding:2px;
margin:0;
font-weight:bold;
text-align:center;
}
footer #footerdroit
{
margin-left:5px;
display:inline-block;
vertical-align:top;
width:400px;
}
footer #footerdroit a:hover
{
	background-color:none;
}
footer li, footer p
{
color:#404040;
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size:0.7em;
}
article #cc /*Licence creatives commons */ 
{
padding-top:5px;
padding-bottom:5px;
margin-right: 0px;
  margin-left: 10px;
  font-size: 0.6em;
  text-align: center;
  color: black;
  font-family: Geneva, "trebuchet MS","Times New Roman",Arial,"Arial Black",Times,serif;
  border:1px solid gray;
}
article .blockcentre
 {
 margin:auto;
 text-align:center;
 }
 
article .repere 
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
font-size:0.9em;
color: rgb(0,128,64);
text-decoration: none;
margin-right:10px;
}
article .repere:visited
{
color: rgb(0,128,64);
}
article .repere a:hover	/* ancres alphabÈtique */
{
background-color: #d9ecff;
color: #003f0b;
}
article .repere2  /* les ancres  secondaires */
{
font-family: Geneva, "trebuchet MS", "Times New Roman", Arial, "Arial Black",Times, serif;
color: rgb(0,128,64);
text-decoration: none;
}

article .repere2:visited /* les ancres  secondaires */
{
color: rgb(0,128,64);
}
article .connexion /* Pour les liens de connexion, d'inscription */
{
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
color: rgb(66,66,255);
font-size: 0.8em;
text-decoration: none;
font-family: Geneva, "trebuchet MS",Georgia, "Times New Roman", Arial, "Arial Black", Times, serif;
}
article  .connexion a:hover
{
border: none;
  background-color: #e6ffe6; 
  color:#000352;
   }

/*essai detail menu pour cours em*/
#detail 
{
display:none;
position: absolute;
	left: 0px;
	top: 15px;
background-color:white;
border:1px solid black;
z-index:4;
}
#coursem:hover #detail
{
display:block;
}
/*FIN*/
